<%= bootstrap_form_for(@station) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% @station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="collection_radio_buttons">
    <%= f.form_group :station_type, label: {text: "Tipo de Estação"} do %>
      <%= f.radio_button :station_type, 1, label: "Banco de leite"%>
      <%= f.radio_button :station_type, 2, label: "Posto de Leite"%>
    <% end %>
  </div>

  <div class="control-group">
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.text_field :address %>
  </div>
  <div class="control-group">
    <%= f.text_field :latitude %>
  </div>
  <div class="control-group">
    <%= f.text_field :longitude %>
  </div>
  <div class="control-group">
    <%= f.text_field :cep %>
  </div>
  <div class="control-group">
    <%= f.telephone_field :phone %>
  </div>
  <div class="control-group">
    <%= f.text_field :fax %>
  </div>
 <!-- 
  <div class="control-group">
    <%= f.number_field :station_type %>
  </div>
  -->
  <div class="control-group">
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
