<p id="notice"><%= notice %></p>

<h1>Lista de  Stations</h1>
<%= render_breadcrumbs %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Cep</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Station type</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.name %></td>
        <td><%= station.address %></td>
        <td><%= station.latitude %></td>
        <td><%= station.longitude %></td>
        <td><%= station.cep %></td>
        <td><%= station.phone %></td>
        <td><%= station.fax %></td>
        <td><%= station.station_type %></td>
        <td><%= image_tag(station.image.url(:thumb)) %></td>
        <td><%= link_to 'Show', station, :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Edit', edit_station_path(station), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Station', new_station_path, :class => 'btn btn-primary' %>
