<%= bootstrap_form_for(@information) do |f| %>
  <% if @information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@information.errors.count, "error") %> prohibited this information from being saved:</h2>

      <ul>
      <% @information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="collection_radio_buttons">
    <%= f.form_group :information_type, label: {text: "Tipo de Informação"} do %>
      <%= f.radio_button :information_type, 1, label: "Texto"%>
      <%= f.radio_button :information_type, 2, label: "Video"%>
    <% end %>
  </div>
  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.datetime_select :date %>
  </div>
  <!-- <div class="field">
    <%= f.check_box :favorite %>
  </div> -->
  <div class="field">
    <%= f.url_field :url_video %>
  </div>
  <div class="field">
    <%= f.number_field :category %>
  </div>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
