<p id="notice"><%= notice %></p>

<h1>Listing Information</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Date</th>
      <th>Favorite</th>
      <th>Url video</th>
      <th>Information type</th>
      <th>Category</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @information.each do |information| %>
      <tr>
        <td><%= information.title %></td>
        <td><%= information.content %></td>
        <td><%= information.date %></td>
        <td><%= information.favorite %></td>
        <td><%= information.url_video %></td>
        <td><%= information.information_type %></td>
        <td><%= information.category %></td>
        <td><%= information.image %></td>
        <td><%= link_to 'Show', information %></td>
        <td><%= link_to 'Edit', edit_information_path(information) %></td>
        <td><%= link_to 'Destroy', information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Information', new_information_path %>
