<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @information.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @information.content %>
</p>

<p>
  <strong>Date:</strong>
  <%= @information.date %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @information.favorite %>
</p>

<p>
  <strong>Url video:</strong>
  <%= @information.url_video %>
</p>

<p>
  <strong>Information type:</strong>
  <%= @information.information_type %>
</p>

<p>
  <strong>Category:</strong>
  <%= @information.category %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @information.image.url %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
