<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Amamente e Doe", :root, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
       <!--  <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li> -->
      </ul>
    </nav>
  </div>
</header>