
<%= render_breadcrumbs %>

<div class="center jumbotron">

<% provide(:title, "Home | ") %>

<p>Cadastro de informações e estações de amamentação</p>


  <%= link_to "Informações", 'information', class: "btn btn-lg btn-primary" %>
  <%= link_to "Estações", 'stations', class: "btn btn-lg btn-primary" %>
</div>

